<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="atras"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ID# {{cliente.id}}</ion-card-subtitle>
      <ion-card-title>{{cliente.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <strong>{{cliente.edad}}</strong>
    </ion-card-content>

    <ion-button [routerLink]="['/uptadeclientes',cliente.id]"  color="warning"><ion-icon name="create"></ion-icon></ion-button>
    <ion-button [routerLink]="['/deleteclientes',cliente.id]" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
  </ion-card>
</ion-content>
