<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Agregar</ion-title>
    <ion-button slot="end">
      <ion-back-button text="Atras"></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>

    <ion-item lines="full">
      <ion-label position="floating">nombre</ion-label>
      <ion-input type="text" name="txnombre" [(ngModel)]="newCliente.nombre" required></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">edad</ion-label>
      <ion-input type="text" name="txedad" [(ngModel)]="newCliente.edad" required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button (click)="crearCliente()" expand="block" color="success">Agregar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

