<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Eliminar</ion-title>
    <ion-buttons slot="end">
      <ion-back-button text="Atras"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ID# {{cliente.id}}</ion-card-subtitle>
      <ion-card-title> Desea eliminar a {{cliente.nombre}}?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <strong>{{cliente.edad}}</strong>
    </ion-card-content>
    <ion-button (click)="eliminarCliente()" expand="block" color="danger">Eliminar</ion-button>
  </ion-card>
</ion-content>
